<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Alunos</title>
  </head>
  <body>
    <h1>Lista de Alunos</h1>
    <ul>
      {% for aluno in alunos %}
      <li>
        {{ aluno.nome }} - {{ aluno.matricula }}
        <a href="{{ url_for('editar_aluno', index=loop.index0) }}">Editar</a>
        <a href="{{ url_for('excluir_aluno', index=loop.index0) }}">Excluir</a>
      </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('adicionar_aluno') }}">Adicionar Aluno</a>
  </body>
</html>
