html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(30, 30, 30);
  color: white;
}

header p {
  display: flex;
  justify-content: center;
  font-size: 2.6em;
  text-align: center;
}

header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.2em;
  padding: 20px 0;
}

aside {
  text-align: center;
  margin: 20px;
}

aside h2 {
  font-size: 1.8em;
}

aside li {
  list-style: none;
}

article h1 {
  text-align: center;
  font-size: 3em;
}

footer {
  margin-top: 30px;
  background-color: rgb(173, 173, 173);
  text-align: center;
}

@media screen and (max-width: 425px) {
  header p {
    font-size: 1.3em;
    padding-top: 10px;
  }

  header ul {
    font-size: 1em;
  }

  aside h2 {
    font-size: 1.2em;
  }

  aside li {
    font-size: 0.9em;
  }

  article h1 {
    font-size: 1.6em;
  }

  article p {
    font-size: 0.9em;
    margin: 0 15px;
  }

  footer h3 {
    font-size: 1.2em;
    padding-top: 10px;
  }

  footer p {
    font-size: 0.9em;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 768px) {
  header p {
    font-size: 2.5em;
    padding-top: 10px;
  }

  header ul {
    font-size: 1.5em;
  }

  aside h2 {
    font-size: 1.8em;
  }

  aside li {
    font-size: 1.2em;
  }

  article h1 {
    font-size: 2em;
  }

  article p {
    font-size: 1.2em;
    margin: 0 20px;
  }

  footer h3 {
    font-size: 1.8em;
    padding-top: 15px;
  }

  footer p {
    font-size: 1.2em;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1024px) {
  header p {
    font-size: 3.2em;
    padding-top: 30px;
  }

  header ul {
    font-size: 2.2em;
    max-width: 1440px;
    margin: 0 auto;
  }

  aside h2 {
    font-size: 2.4em;
  }

  aside li {
    font-size: 1.6em;
  }

  article h1 {
    font-size: 3em;
  }

  article p {
    font-size: 1.6em;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1440px;
  }

  footer h3 {
    font-size: 2.2em;
    padding-top: 20px;
  }

  footer p {
    font-size: 1.6em;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 1440px;
  }
}
