.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #255317;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  height: 80px;
  justify-content: center;
  margin-top: 0;
}

.App-link {
  border: 16px solid #255317;
  border-radius: 16px;
  height: 500px;
  width: 900px;
}

.App-button {
  background-color: #255317;
  border-radius: 14px;
  color: white;
  font-size: 18px;
  margin-top: 30px;
  padding: 18px 26px;
}
